@import "./base/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./pages/accueil";
@import "./utils/loops";
@import "./utils/keyframes";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";

.fa-map-marker-alt{
    color: $darkgrey;
}

.bg-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 70%;
    vertical-align: bottom;
}
.menu{
    @include bg-txt($lightgrey);
    border-radius: 32px 32px 0 0;
    padding: 38px 5%;
    position: relative;
    margin-top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .gradient-btn{
        width: 168px;
        margin-bottom: 20px;
    }
}
.rest_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    .heart-btn{
        margin-right: 5%;
    }
    @media screen and (min-width:$desktop){
        justify-content: start;
    }
}

.dishes_group{
    width: 100%;
    h5{
        margin-block: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        margin-top: 22px;
        &::after{
            content:"";
            display: block;
            background-color: $color-tertiary;
            height: 4px;
            width: 42px;
            margin: 4px 0 12px 0;
        }
    }
    @media screen and (min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: $desktop){
        width: 100%;
        justify-content: space-between;
    }
}

.sub-menu-1, .sub-menu-2, .sub-menu-3{
    @media screen and (min-width: $tablet){
        width: 47%;
    }
    @media screen and (min-width: $desktop){
        width: 30%;
    }
}