/* Bouton "Explorer nos restaurants" + "Commander" */

.gradient-btn{
    width: 184px;
    color: white;
    text-align: center;
    padding: 16px;
    background: linear-gradient($color-secondary, $color-primary);
    @include box-shadow($margin-bottom: 56px, $border-radius: 24px);
    margin-top: 30px;
    &:hover{
        filter: brightness(1.2);
    }
}

/* Bouton "cœur" */

.heart-btn{
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    margin-left: 2%;
    &:hover{
        & .heart-btn__bg{
            height: 32px;
        }
    }
    &__bg{
        position: absolute;
        bottom: 3px;
        right: 4px;
        display: flex;
        align-items: flex-end;
        height: 0px;
        overflow: hidden;
        transition: height 1s;
        .fa-heart::before{
            background: linear-gradient($color-primary, $color-secondary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

/* Boutons des plats */

.dish{
    position: relative;
    min-height: 70px;
    overflow: hidden;
    @include box-shadow ($margin-bottom: 12px, $border-radius: 16px);
    &__btn{
        cursor: pointer;
        width: 100%;
        min-height: 70px;
        text-align: left;
        border: none;
        background-color: white;
        padding: 12px 4%;
        &:hover + .dish__checkbox{
            width: 70px;
            .fa-check-circle{
                transform: translateX(0) rotate(0turn);
            }
        }
        &:hover .dish__name{
            width: calc(100% - 100px);
        }
        &:hover .dish__text{
            width: calc(100% - 100px);
        }
        &:hover .dish__price{
            position: relative;
            transform: translateX(-70px);
        }
    }
    &__name{
        display: inline-block;
        text-align: left;
        margin: 0;
        font-size: 17px;
        width: 100%;
        @include text-ellipsis;
        transition: width 500ms ease-in-out;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 300;
        text-align: left;
        text-overflow: ellipsis;
        width: 100%;
        margin-top: 4px;
    }
    &__text{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 14px;
        @include text-ellipsis;
        transition: width 500ms ease-in-out;
    }
    &__price{
        display: block;
        font-weight: bolder;
        transform: translateX(0px);
        transition: transform 500ms ease-in-out;
    }
    &__checkbox{
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        width: 0px;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        color: white;
        transition: width 500ms ease-in-out;
    }

    .fa-check-circle{
        display: inline-block;
        transform: translateX(200%) rotate(-1turn);
        transition: transform 500ms ease-in-out;

    }
}