.book-function{
    @media(min-width: $tablet){
        padding: 40px 5%;
        background: linear-gradient(rgba($color-tertiary, .5), $color-tertiary);
    }
    @media(min-width: $desktop){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation: loading-opacity 1s ease-in-out 1s forwards;
    &__circle{
        position: relative;
        height:120px;
        width: 120px;
        @include loading-circle(1px, $color-tertiary);
        animation: spin-reverse 2s linear infinite;
        &::before{
            content:'';
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            @include loading-circle(3px, $color-primary);
        }
    }
    &__text{
        position: absolute;
        top: 8px;
        left: 8px;
        display: inline-block;
        height: 100px;
        width: 100px;
        text-align: center;
        line-height: 100px;
        @include loading-circle(2px, $color-secondary);
        font-family: 'Shrikhand', cursive;
        font-size: 60px;
        animation: spin 1s linear infinite;
    }
}

.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightgrey;
    &__form{
        width: 100%;
        padding: 14px 0;
        background-color: #EAEAEA;
        text-align: center;
        box-shadow: inset 0 5px 5px lightgrey;
        margin-bottom: 40px;
        @media(min-width: $tablet){
            width: 520px;
            border-radius: 26px;
        }
        @media(min-width: $desktop){
            width: 100%;
        }
    }
    &__hook{
        padding: 0 4%;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }
    & input{
        width: 40%;
        color: $darkgrey;
        text-align: center;
        border: 0;
        background-color: transparent;
        outline: none;
    }
    h2{
        text-align: center;
    }
    @media(min-width: $tablet){
        @include tablet-section;
        padding: 20px 5% 0 5%;
        margin-bottom: 40px;
    }
    @media(min-width: $desktop){
        width: 38%;
    }
}

.functioning{
    padding: 48px 5%;
    h2{
        margin-bottom: 28px;
    }
    &__btn{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 12px;
        height: 74px;
        border-radius: 20px;
        background-color: $lightgrey;
        @include box-shadow;
        &:hover{
            @include lightened_box($color-primary);
        }
    }
    &__circle{
        position: relative;
        left: -12px;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
        margin-right: 8px;
    }
    &__text{
        line-height: 72px;
    }
    i{
        @include darkened_text($lightgrey);
        margin-right: 22px;
    }
    a:hover{
        i{
            color: $color-primary;
        }
    }
    @media(min-width: $tablet){
        background-color: white;
        @include tablet-section;
    }
    @media(min-width: $desktop){
        width: 38%;
    }
}

.restaurants{
    padding: 54px 5% 40px 5%;
    background-color: $lightgrey;
    h2{
        margin-bottom: 22px;
    }
    p{
        margin-block: 0;
    }
    .card{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 20px;
        @include box-shadow;        
        &__img{
            display: block;
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 174px;
            border-radius: 16px 16px 0 0;
        }
        article{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 0 0 16px 16px;
            height: 44px;
            padding: 18px 4%;
        }
        p{
            font-size: 17px;
            font-weight: lighter;
        }
        .heart-btn{
            position: absolute;
            right: 6%;
            bottom: 30px;
        }
        @media(min-width: $tablet){
            width: 48%;
        }
        @media(min-width: $desktop){
            width: 23%;
        }
    }
    .new{
        position: absolute;
        top: 14px;
        right: 14px;
        background-color: $color-tertiary;
        padding: 6px 12px;
        font-size: 14px;
        @include darkened_text($color-tertiary);
    }
}
.cards_group{
    @media(min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}